build/
build-*/
*.o
*.exe
Makefile
*.db
IMPORTANTE/

# Trilhas de jogos comerciais (direitos autorais - não subir pro repo público)
songs/Dire, Dire Docks - Super Mario 64 SoundTrack.mp3
songs/Donkey Kong Country - Aquatic Ambience.mp3
songs/Wii Party Soundtrack - Main Menu Music.mp3
songs/Submarine Theme by ConcernedApe.mp3
